h1 {
 	font-size:      47px;
 	font-family:    Gilroy;
 	font-weight:    ;
 	color:          #000000;        
 }
 h2 {
	font-size:      16px;
 	font-family:    Gilroy;
 	font-weight:    ;
 	color:          #000000;
 }
 h3 {
 	font-size:      18px;
 	font-family:    Gilroy;
 	font-weight:    ;
 	color:          #000000;
 }
 header {
	box-sizing: border-box;
	width: 1200px;
	height: auto;
	background: #FFDEAD;
	margin: auto;
}
.index-logo {
	font-size:     48px;
	font-family:   Gilroy;
	color:         #000000;
}
header .user-block {
	width: 1140px;
	height: auto;
	background: #B8860B;
	margin: auto;
}
.user-block a {
	font-size:     15px;
	font-family:   Open Sans;
	color:         #000000;
}

.main-navigator li a {
	font-size:     18px;
	font-family:   Gilroy;
	color:         #000000;
	padding-right: 540px;
}
aside p {
	font-size:    15px;
	font-family:   Open Sans;
	color:         #000000;
}
.features-second li {
	font-size:     18px;
	font-family:   Gilroy;
	color:         #000000;
}

.main-container,
.container-item {
	width: 1200px;
	height: auto;
	background: #BEBEBE;
	margin: auto;
}

.user-block a {
	margin: auto;
}
.main-navigator {
	width: 1140px;
	height: auto;
	background: #CD853F;
	margin: auto;
}
footer {
	box-sizing: border-box;
	width: 1200px;
	height: auto;
	background: #6495ED;
	margin: auto;
}

.footer-navigator {
	width: 445px;
	height: auto;
	background: #BA55D3;
	margin: auto;
}
.footer-social li {
	width: 160px;
	height: auto;
	background: #DDA0DD;
	margin: auto;
}
.footer-logo {
	width: 161px;
	height: auto;
	background: #D8BFD8;
	font-size:      47px;
 	font-family:    Gilroy;
 	font-weight:    ;
 	color:          #000000;
}
.user-block-footer a {
    font-size:     15px;
	font-family:   Open Sans;
	color:         #000000;

}
.user-block-footer {
	width: 1000px;
	height: auto;
	background: #CDB7B5;
}